$whitesmoke: #f1f3f7;
$darkslategray: #3e4453;
$firebrick: #ba2525;
$mediumseagreen: #38cc8c;

$border-colour: $whitesmoke;
$text-colour: $darkslategray;
$addButtonColour: $mediumseagreen;
$removeButtonColour: $firebrick;
$clearButton: $whitesmoke;
