$Poppins: "Poppins", sans-serif;
$Josephine-Sans: "Josefin Sans", sans-serif;
$FontAwesome: "FontAwesome";

$base-font-family: $Poppins;
$input-font-family: $Josephine-Sans;

$light: 300;
$normal: 400;
$bold: 700;
